<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="style.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.2.0/toaster.css"></link>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.2.0/toaster.js"></script>

    <script type="text/javascript" src="app.js"></script>

    <script type="text/javascript" src="/home/home.js"></script>
    <script type="text/javascript" src="/home/controllers/homeController.js"></script>
    <script type="text/javascript" src="/home/services/homeService.js"></script>
    <script type="text/javascript" src="/home/services/homeFactory.js"></script>

    <script type="text/javascript" src="/session/session.js"></script>
    <script type="text/javascript" src="/session/controllers/sessionController.js"></script>
    <script type="text/javascript" src="/session/services/sessionService.js"></script>
    <script type="text/javascript" src="/session/services/sessionFactory.js"></script>

     <script type="text/javascript" src="/package/package.js"></script>
    <script type="text/javascript" src="/package/controllers/packageController.js"></script>
    <script type="text/javascript" src="/package/services/packageService.js"></script>
    <script type="text/javascript" src="/package/services/packageFactory.js"></script>

      <script type="text/javascript" src="/subject/subject.js"></script>
    <script type="text/javascript" src="/subject/controllers/subjectController.js"></script>
    <script type="text/javascript" src="/subject/services/subjectService.js"></script>
    <script type="text/javascript" src="/subject/services/subjectFactory.js"></script>
<!--    <script type="text/javascript" src="/package/package.js"></script>
    <script type="text/javascript" src="/session/session.js"></script>
    <script type="text/javascript" src="/sessionResource/sessionResource.js"></script>
    <script type="text/javascript" src="/user/user.js"></script>
    <script type="text/javascript" src="/userPackage/userPackage.js"></script>
    <script type="text/javascript" src="/userSession/userSession.js"></script>
    <script type="text/javascript" src="/userSessionToken/userSessionToken.js"></script>-->
  </head>
  <body ng-app="learningSystem">
    <toaster-container></toaster-container>
    <div class="row" ng-controller="loginController" >
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
               <p class="navbar-text navbar-right" ng-show="!isLogged">
                Signed in as <a href="#" class="navbar-link">Guest User</a>
              </p>
              <p class="navbar-text navbar-right" ng-show="isLogged">
                Signed in as <a href="#" class="navbar-link">{{user.firstname}} {{user.lastname}}</a>
              </p>
              <p class="navbar-text navbar-right" ng-show="isLogged">
                <a href="#" class="navbar-link" ng-click="logout()">logout</a>
              </p>
               <!-- Single button -->
              <div class="btn-group" uib-dropdown is-open="status.isopen"  ng-show="isLogged && user.is_admin">
                <button id="adminMenu" type="button" class="btn btn-primary" uib-dropdown-toggle>
                  Menu <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="adminMenu">
                  <li role="menuitem"><a href="#" ng-click="addClass()">Add Class</a></li>
                  <li role="menuitem"><a href="#" ng-click="addPackage()">Add Package</a></li>
                  <li role="menuitem"><a href="#" ng-click="assignPackage()">Assign Package</a></li>
                  <li role="menuitem"><a href="#" ng-click="startClass()">Start Class</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="jumbotron login-panel" ng-show="!isLogged">
          <h3>Learning System Log In</h3>
          <form id="loginForm" name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
             <label>username:</label>
             <input type="text" name="username" ng-model="user.username" required></input>
             <label>password:</label>
             <input type="password" name="password" ng-model="user.password" required></input>
             <button type="submit">Log In</button>
          </form>
        </div>
    </div>
    
    <div ui-view></div>
  </body>
</html>
