<div class="row" >
  <div class="panel panel-primary list">
    <div class="panel-heading">
      <h3 class="panel-title">People List</h3>
    </div>
    <div class="row">
      <div class="col-md-3"><h4>Name</h4></div>
      <div class="col-md-3"><h4>Email</h4></div>
      <div class="col-md-3"><h4>Age</h4></div>
      <div class="col-md-3"></div>
    </div>
     <div class="row" ng-repeat="person in people">
       <div class="col-md-3">{{person.first_name}} {{person.last_name}}</div>
      <div class="col-md-3">{{person.email}}</div>
      <div class="col-md-3">{{calculateAge(person.birthdate)}} Years</div>
      <div class="col-md-3">
        <button class="glyphicon glyphicon-option-vertical"
                      type="button"
                      uib-popover-template="personPopover.templateUrl"
                      popover-trigger="outsideClick"
                      popover-placement="right">
        </button>
      </div>
    </div>  
  </div>
  <button type="button" class="btn btn-primary" ng-click="addPerson()">Add Person</button>
  <script type="text/ng-template" id="personPopoverTemplate.html">
    <div class="row">
      <div class="glyphicon glyphicon-pencil class-options" ng-click="editPerson(person.id)">Edit</div>
    </div>
     <div class="row">
      <div class="glyphicon glyphicon-trash class-options" ng-click="destroyPerson(person.id)">Delete</div>
    </div>
  </script> 
</div>
